.table {
    display: flex;
}

.category {
    padding: 0px 3px;
    border-left: 1px solid black;
}

.blank {
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 5px;
}

.reward {
    height: 100px;
    width: 100px;
    background-color: green;
    margin: 5px;
}

.deleteReward {
    float: right;
}
